.header {
  display: flex;
  object-fit: contain;
  justify-content: space-between;
  padding: 20px;
  top: 0;
  background-color: gray;
}
.header__left {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px, solid, black;
}

.header__left {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
